<div class="container">
    <h1 class="">Blocks on chain</h1>
    <p class="">Each card represents a block on the chain.Click on a block to see the transaction stored inside.</p>

    <div class="blocks-container">
      <app-block-view 
      *ngFor="let block of blocks" 
      [block]="block"
      (blockClicked)="showTransactions($event)">
      </app-block-view>
    </div>
</div>
<br><br>
<div class="container">
    <h1>Transactions inside block</h1>
    <div *ngIf="!selectedBlock" class="alert alert-info">Select a block to view transactions</div>
    <app-transactions-table
        *ngIf="selectedBlock && isArray(selectedBlock.data) && selectedBlock.data.length > 0"
        [transactions]="selectedBlock.data">
    </app-transactions-table>
    <p *ngIf="selectedBlock && (!isArray(selectedBlock.data) || selectedBlock.data.length === 0)">
        <em>No transactions in this block</em>
    </p>
</div>